  <!DOCTYPE html>
  <html>
    <head>
      <title><%= team %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1><%= team %></h1>
      <p>Welcome to team <%= team %></p>
      <p>Our mascots</p>
      <img src="/images/TEAM_ALM.png" alt="Image" width="600px">
    </body>
  </html>